body {
    transition: background-color 0.5s ease-in-out;
    background-image: url('ouiiPlan de travail 1.png');
    background-size: cover;
    background-position: center;
  }
  
  .backgroundRed {
    background-color: rgb(58, 58, 58);
  }
  