body {
    transition: background-color 0.5s ease-in-out;
    background-image: url('ouiiPlan de travail 1.png');
    background-size: cover;
    background-position: center;
    display: flex;
  }
  
  .backgroundRed {
    background-color: rgb(58, 58, 58);
  }

  button {
    font-size: large;
    border: 0;
    background: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    cursor: pointer;
    padding: 10px 15px;
    transition: all .25s;

    height: 40px;
    width: 200px;

    margin: auto;
    margin-top: 200px;

  }
  button::after, button::before {
    border: 2px solid #000000;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .25s;
  }

  button:hover::after {
    transform: translate(-3px, -3px);
  }

  button:hover::before {
    transform: translate(3px, 3px);
  }