body {
    transition: background-color 0.5s ease-in-out;
    display: flex;
  }
  
  .backgroundRed {
    background-color: rgb(68, 68, 68);
  }

  #changeColorBtn {
    font-size: large;
    border: 0;
    background: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    padding: 10px 15px;

    transition: all .15s;
    
    position: relative;

    height: 35px;
    width: 150px;
  }
  #changeColorBtn::after, #changeColorBtn::before {
    border: 2px solid #000000;
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    transition: all .15s;
  }

  #changeColorBtn:hover::after {
    transform: translate(-3px, -3px);
  }

  #changeColorBtn:hover::before {
    transform: translate(3px, 3px);
  }

  .NOM {
    font-size: large;font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    position: absolute;
    top: 2%;
    left: 90%;
  }




















  /* conexion modul ######################## 
  .login-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  #connectBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #connectBtn:hover {
    background-color: #0056b3;
  }
 
   ################################################ */